BasedOnStyle: LLVM
Language: Cpp

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: None
AccessModifierOffset: -4

# Line length
ColumnLimit: 120

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

# Pointers and references
PointerAlignment: Left
DerivePointerAlignment: false

# Includes
IncludeBlocks: Regroup
SortIncludes: CaseSensitive

# Misc
SpacesBeforeTrailingComments: 2
FixNamespaceComments: true
